
html {
	height: 100%;
}

body {
	background: white;
	color: black;
	width: 100%;
	height: 100%;
	margin: 0;
}

#wrap {
    width: 804px;
    height: 402px;
    margin: 30px auto 0;
}

#screen {
    width: 400px;
    height: 400px;
    float: left;
	border: 2px solid #888;
    margin-left: -2px;
    margin-top: -2px;

	font-size: 96px;
}

#editorPane {
    width: 400px;
    height: 400px;
    float: left;
}

#editorPane #editor {
	display: none;
}

.CodeMirror {
	border: 2px solid #888;
    margin-left: -2px;
    margin-top: -2px;
}

.CodeMirror-cursor, .CodeMirror-selected {
	z-index: 10;
}

.CodeMirror-lines .disabled {
	background: #511 !important;
}

.CodeMirror-lines .disabled .editableSection {
	background: rgba(0, 0, 0, 0.5); /* semi-transparent so we can see selection over it */
}

#log {
    width: 100%;
    height: 98px;
    margin: 0;
    padding: 0;
	border: 2px solid #888;
    margin-left: -2px;
    margin-top: -2px;

    resize: none;
}

#executeButton {
    display: block;
    margin: 0 auto;

    font-size: 48px;
}